
.myRow {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  text-align: center;
}
@media screen and (min-width:400px) and (max-width:700px){

header
{
    margin: auto;
    margin-top: 2%;
    width: 96%;
    height: 15%;
    background-image: linear-gradient(to bottom right,rgba(255, 0, 0, 0.644),rgba(255, 166, 0, 0.657),rgba(255, 255, 0, 0.565));
    position: relative; 
	z-index: 1;
	text-align: center;
	padding-top: 18px;
	box-sizing: border-box;
	overflow: hidden;

}
header>#logo
{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 20%;
	height: 100%;
	z-index: 5;
	box-sizing: border-box;
	padding-top: 15px;
	
}
#logo>img
{
	width:50px;
	height: 50px;
	object-fit: contain;
}
header>#head
{
	position: absolute;
	left: 35%;
	color: rgba(254, 251, 251, 0.972);
	font-weight: 900;
	font-size: 30px;
	z-index: 5;
}
header>#Truck
{
	position: absolute;
	width: 20%;
	height: 80%;
	bottom: 0px;
	right: 0px;
	z-index:2;
	animation-name: myTruck;
	animation-duration: 40s;
	animation-iteration-count: infinite;
	
}
header>#Bike
{
	position: absolute;
	width: 20%;
	height: 60%;
	bottom: 0px;
	left: 50px;
	z-index:1;
	animation-name: myBike;
	animation-duration: 40s;
	animation-iteration-count: infinite;
	
}
#Truck>img
{
	height: 100%;
	width: 100%;
	object-fit: cover;
	object-position: 0px -20px;
	
}
#Bike>img
{
	height: 100%;
	width: 100%;
	object-fit: contain;
	object-position: 0px 5px;
	
}

@keyframes myTruck 
{
		 0%{bottom: 0px; right: 0px;  transform: scaleX(1);  opacity: 1;}
		48%{bottom: 0px; right: 67%;  transform: scaleX(1);  opacity: 1;}
		49%{bottom: 0px; right: 67%;  transform: scaleX(1);  opacity: 0;}
		50%{bottom: 0px; right: 67%;  transform: scaleX(-1); opacity: 0;}
		55%{bottom: 0%;  right: 67%;  transform: scaleX(-1); opacity: 1;}
		95%{bottom: 0%;  right: 0%;  transform: scaleX(-1); opacity: 1;}
	   100%{bottom: 0%;  right: 0%;   transform: scaleX(-1); opacity: 1;}
		
}
@keyframes myBike 
{
		 0%{bottom: 0px; right: 50px; left: 0px;  transform: scaleX(1);  opacity: 0;}
		 5%{bottom: 0px; left: 8%; transform: scaleX(1); opacity: 0;}
		 6%{bottom: 0px; left: 9%; transform: scaleX(1); opacity: 1;}
		48%{bottom: 0px; left: 85%;  transform: scaleX(1);  opacity: 1;}
		49%{bottom: 0px; left: 85%;  transform: scaleX(1);  opacity: 0;}
		50%{bottom: 0px; left: 85%;  transform: scaleX(-1); opacity: 0;}
		55%{bottom: 0%;  left: 85%;  transform: scaleX(-1); opacity: 1;}
		95%{bottom: 0%;  left: 7%;  transform: scaleX(-1); opacity: 1;}
	   100%{bottom: 0%;  left: 7%;   transform: scaleX(-1); opacity: 1;}
		
}
nav
{
    margin:auto;
    width: 96%;
	box-sizing: border-box;
    text-align: center;
}
nav ul
{
	width: 96%;
	height: 100%;
    margin: auto;
    cursor: pointer;
}
nav a
{
	margin: auto;
    cursor: pointer;
}
nav li
{
	width: 20%;
}
/* Ensure dropdown positioning works */
.custom-dropdown {
  position: relative;
}

/* Hidden by default */
.custom-dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 20px;
  background-color: #343a40;
  min-width: 180px;
  z-index: 999;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Show on hover */
.custom-dropdown:hover .custom-dropdown-menu {
  display: block;
}

/* Style dropdown items */
.custom-dropdown-menu .dropdown-item {
  color: white !important;
  padding: 10px 16px;
  display: block;
  text-decoration: none;
  white-space: nowrap;
}

.custom-dropdown-menu .dropdown-item:hover {
  background-color: #495057;
}

.myRow
{
	background-color: transparent;
	width: 96%;
	margin: auto;
	
}

#demo
{
    margin:auto;
    width: 100%;
    height:500px;
    box-sizing:border-box;
	
}
.carousel-inner {
	margin: auto;
     height:500px;
    width:100%;
	
	text-align: center;
    
}

.carousel-inner img {
	margin-top: 10px;
    width: 47%;
	margin-left: 10px;
    height:46%;
    object-fit: cover;
	border-radius: 2%;
	background-color: white;
	object-position: 3px 0px;
}   


#flexOutput
{
	padding:0px;
}

#flexContainer
{
	
	position:fixed;
	top:0px;
	right:10px;
	height:300px;
	overflow-y: auto;
	display:flex;
	flex-direction:column;
	width:340px;
	padding:0px;
	box-sizing:border-box;
	z-index:4;

	
}
#flexContainer div
{
	width:320px;
	border:1px solid red;
	border-radius:3%;
	background-image:linear-gradient(to right bottom,orange,yellow);
	height:160px;
	padding:20px;
	box-sizing:border-box;
	margin:0px;
	opacity: 0.9;
	
}

#flexContainer H2
{
	align-self:flex-start;
	color:Red;
	margin:0px;
	padding:0px;
	width:320px;
	opacity: 1;
}



#flexContainer hr
{
	margin:0px;
	padding:0px;
}

#flexContainer button
{
	float:right;
	margin:auto 5px auto auto;
}

#flexContainer #buttons
{
	padding:0px;
	height:auto;
}

button i
{
	font-size: 12px;
	color: white;
}

#finalBill
{
	width: 450px;
	height: 100%;
	color: blanchedalmond;
	text-align: center;
	top: 5px;
	left:18px;
	position: fixed;	
	display: none;
	z-index: 4;
	box-sizing: border-box;
	overflow-y: auto;	

}
#finalBill #billTable
{
	border-radius: 2%;
	width: 450px;
	box-sizing: border-box;
	height: auto;
	background-color: rgba(105, 13, 13, 0.856);
}
.table-product-heading
{
	width: 10px;
	color: white;
	text-align: center;
}
.table-items-heading
{
	width: 40px;
	height: 50px;
	padding: 20px;
	box-sizing: border-box;
	color: red;
	text-align: center;
}
.table-product-content
{
	
	height: 140px;
	padding: 20px;
	box-sizing: border-box;
	text-align: center;
}
.table-product-items
{
	width: 50px;
	height: 140px;
	text-align: center;
	padding: 20px;
	box-sizing: border-box;
	color: white;
}
.total-product-total
{
	width: 70px;
	padding: 20px;
	text-align: center;
	height: 140px;
	box-sizing: border-box;
	color: white;
}
.table-total-heading
{
	width: 70px;
	height: 50px;
	padding: 20px;
	box-sizing: border-box;
	color: white;
	text-align: center;
}
#billTable table
{
	width: 310px;
	height: auto;
	margin: auto;
	border: 1px solid white;
	border-collapse: collapse;
}
#billTable th,td
{
	color: white;
	border: 1px solid white;
	font-weight: 600;
}
#finalBill #buttons2
{
	width: 100%;
	height: 50px;
	padding: 0px;
	box-sizing: border-box;
}
#buttons2 #backToCart
{
	float: left;
	margin: 3px auto 0px 10px;

}
#buttons2 #pay
{
	float: right;
	margin: 3px 10px 0px auto;
	
}
#bankInfo
{
    overflow-y: auto;
	display: none;
}
footer
{
    margin: auto;
    width: 96%;
    height: 15%;
	position: relative;
	margin-bottom: 20px;
    background-image: linear-gradient(to bottom right,rgba(255, 0, 0, 0.644),rgba(255, 166, 0, 0.657),rgba(255, 255, 0, 0.565));

}
footer>div
{
	position:absolute;
	top: 0px;
	right: 20px;
    height: 100%;
	text-align: center;
	
}
footer>div span
{
	color: blue;
	font-size: 12px;
}
footer>div ul
{
	
	margin-top: 10px;
	width: 100%;
	padding: 0px;
	list-style-type: none;
}
footer>div li
{
	
	display: inline;
	margin-left: 5px;
	
}
footer>div i
{
	font-size: 20px;
	border-radius: 2px;
	width: 100%;
}
footer>div #facebook
{
	color: white;
	background-color: blue;
	font-weight: 800;
	font-size:15px;
	cursor: pointer;
	padding: 1px;
	transition: color 2s ease, background-color 2s ease, transform 2s ease;
}
footer>div #whatsapp
{
	color: white;
	background-color: green;
	cursor: pointer;
	font-size:15px;
	padding: 1px;
	transition: color 2s ease, background-color 2s ease, transform 2s ease;
}
footer>div #twitter
{
	color: white;
	font-size:15px;
	background-color: black;
	padding: 1px;
	cursor: pointer;
	transition: color 2s ease, background-color 2s ease, transform 2s ease;
}
footer>div #twitter:hover
{
	transform: scale(1);
	background-color: transparent;
	color: black;

}
footer>div #facebook:hover
{
	transform: scale(1);
	background-color: transparent;
	color: blue;

}
footer>div #whatsapp:hover
{
	transform: scale(1);
	background-color: transparent;
	color: green;

}
	
}





@media  screen and (min-width: 700px) and (max-width:1500px) {

	header
{
    margin: auto;
    margin-top: 2%;
    width: 96%;
    height: 20%;
    background-image: linear-gradient(to bottom right,rgba(255, 0, 0, 0.644),rgba(255, 166, 0, 0.657),rgba(255, 255, 0, 0.565));
    position: relative; 
	z-index: 1;
	text-align: center;
	padding-top: 18px;
	box-sizing: border-box;
	overflow: hidden;

}
header>#logo
{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 20%;
	height: 100%;
	z-index: 5;
	box-sizing: border-box;
	padding-top: 10px;
	
}
#logo>img
{
	width:90px;
	height: 90px;
	object-fit: contain;
}
header>#head
{
	position: absolute;
	top: 12%;
	left: 35%;
	color: rgba(254, 251, 251, 0.972);
	font-weight: 900;
	font-size: 50px;
	z-index: 5;
}
header>#Truck
{
	position: absolute;
	width: 20%;
	height: 80%;
	bottom: 0px;
	right: 0px;
	z-index:2;
	animation-name: myTruck;
	animation-duration: 40s;
	animation-iteration-count: infinite;
	
}
header>#Bike
{
	position: absolute;
	width: 20%;
	height: 80%;
	bottom: 0px;
	left: 50px;

	z-index:1;
	animation-name: myBike;
	animation-duration: 40s;
	animation-iteration-count: infinite;
}
#Truck>img
{
	height: 100%;
	width: 100%;
	object-fit: cover;
	object-position: 0px -75px;
}
#Bike>img
{
	height: 110%;
	width: 100%;
	object-fit: contain;
}

@keyframes myTruck 
{
		 0%{bottom: 0px; right: 0px;  transform: scaleX(1);  opacity: 1;}
		48%{bottom: 0px; right: 67%;  transform: scaleX(1);  opacity: 1;}
		49%{bottom: 0px; right: 67%;  transform: scaleX(1);  opacity: 0;}
		50%{bottom: 0px; right: 67%;  transform: scaleX(-1); opacity: 0;}
		55%{bottom: 0%;  right: 67%;  transform: scaleX(-1); opacity: 1;}
		95%{bottom: 0%;  right: 0%;  transform: scaleX(-1); opacity: 1;}
	   100%{bottom: 0%;  right: 0%;   transform: scaleX(-1); opacity: 1;}
		
}
@keyframes myBike 
{
		 0%{bottom: 0px; right: 50px; left: 0px;  transform: scaleX(1);  opacity: 0;}
		 5%{bottom: 0px; left: 8%; transform: scaleX(1); opacity: 0;}
		 6%{bottom: 0px; left: 9%; transform: scaleX(1); opacity: 1;}
		48%{bottom: 0px; left: 85%;  transform: scaleX(1);  opacity: 1;}
		49%{bottom: 0px; left: 85%;  transform: scaleX(1);  opacity: 0;}
		50%{bottom: 0px; left: 85%;  transform: scaleX(-1); opacity: 0;}
		55%{bottom: 0%;  left: 85%;  transform: scaleX(-1); opacity: 1;}
		95%{bottom: 0%;  left: 7%;  transform: scaleX(-1); opacity: 1;}
	   100%{bottom: 0%;  left: 7%;   transform: scaleX(-1); opacity: 1;}
		
}
nav
{
    margin:auto;
    width: 96%;
	height: 10%;
    box-sizing: border-box;
    text-align: center;
}
nav ul
{
	width: 96%;
	height: 100%;
    margin: auto;
    cursor: pointer;
}
nav a
{
	margin: auto;
    cursor: pointer;
}
nav li
{
	width: 20%;
}
/* Ensure dropdown positioning works */
.custom-dropdown {
  position: relative;
}

/* Hidden by default */
.custom-dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 20px;
  background-color: #343a40;
  min-width: 180px;
  z-index: 999;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Show on hover */
.custom-dropdown:hover .custom-dropdown-menu {
  display: block;
}

/* Style dropdown items */
.custom-dropdown-menu .dropdown-item {
  color: white !important;
  padding: 10px 16px;
  display: block;
  text-decoration: none;
  white-space: nowrap;
}

.custom-dropdown-menu .dropdown-item:hover {
  background-color: #495057;
}

.myRow
{
	background-color:transparent;
	width: 96%;
	margin: auto;

	
}
#demo
{
    margin:auto;
    width: 100%;
    height:600px;
	
    box-sizing:border-box;
}
.carousel-inner {
	margin: auto;
    padding: 20px;
    height:600px;
    width:100%;
    box-sizing:border-box;
    text-align:center;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: space-evenly;
	align-items:center;
	
    
}

.carousel-inner img {
    width: 40%;
    height: 50%;
    object-fit: cover;
	border-radius: 2%;
	background-color: white;
}   


#flexOutput
{
	padding:0px;
}

#flexContainer
{
	
	position:fixed;
	top:0px;
	right:10px;
	height:450px;
	overflow-y: auto;
	display:flex;
	flex-direction:column;
	width:340px;
	padding:0px;
	box-sizing:border-box;
	z-index:4;
	

	
}

#flexContainer H2
{
	align-self:flex-start;
	color:red;
	margin:0px;
	padding:0px;
	width:320px;
	opacity: 1;
}

#flexContainer div
{
	width:320px;
	border:1px solid red;
	border-radius:3%;
	background-image:linear-gradient(to right bottom,orange,yellow);
	height:160px;
	padding:20px;
	box-sizing:border-box;
	margin:0px;
	opacity: 0.9;
	
}

#flexContainer hr
{
	margin:0px;
	padding:0px;
}

#flexContainer button
{
	float:right;
	margin:auto 5px auto auto;
}

#flexContainer #buttons
{
	padding:0px;
	height:auto;
}

button i
{
	font-size: 12px;
	color: white;
}

#finalBill
{
	width: 550px;
	top: 10px;
	left: 350px;
	position: fixed;	
	height: 560px;
	display: none;
	z-index: 4;
	overflow-y: auto;
	padding: 30px 0px;
	box-sizing: border-box;

}
#finalBill #billTable
{
	border-radius: 2%;
	width: 100%;
	padding: 30px;
	box-sizing: border-box;
	height: 310px;
	overflow-y: auto;
	background-color: rgba(105, 13, 13, 0.856);
}
.table-product-heading
{
	width: 140px;
	height: 50px;
	padding: 20px;
	box-sizing: border-box;
	color: white;
	text-align: center;
}
.table-items-heading
{
	width: 50px;
	height: 50px;
	padding: 20px;
	box-sizing: border-box;
	color: white;
	text-align: center;
}
.table-product-content
{
	width: 1400px;
	height: 140px;
	padding: 20px;
	box-sizing: border-box;
	text-align: center;
}
.table-product-items
{
	width: 50px;
	height: 140px;
	text-align: center;
	padding: 20px;
	box-sizing: border-box;
	color: white;
}
.table-product-total
{
	width: 70px;
	padding: 20px;
	text-align: center;
	height: 140px;
	box-sizing: border-box;
	color: white;
}
.table-total-heading
{
	width: 70px;
	height: 50px;
	padding: 20px;
	box-sizing: border-box;
	color: white;
	text-align: center;
}
#billTable table
{
	width: 310px;
	height: auto;
	margin: auto;
	border: 1px solid white;
	border-collapse: collapse;
}
#billTable th,td
{
	color: white;
	border: 1px solid white;
	font-weight: 600;
}
#finalBill #buttons2
{
	width: 100%;
	height: 50px;
	padding: 0px;
	box-sizing: border-box;
}
#buttons2 #backToCart
{
	float: left;
	margin: 3px auto 0px 10px;

}
#buttons2 #pay
{
	float: right;
	margin: 3px 10px 0px auto;
	
}
#bankInfo
{
	overflow-y: auto;
	display: none;
}
footer
{
    margin: auto;
    width: 96%;
    height: 18%;
	position: relative;
	margin-bottom: 20px;
    background-image: linear-gradient(to bottom right,rgba(255, 0, 0, 0.644),rgba(255, 166, 0, 0.657),rgba(255, 255, 0, 0.565));

}
footer>div
{
	position:absolute;
	top: 20px;
	right: 20px;
	text-align: center;
	
}
footer>div span
{
	color: blue;
}
footer>div ul
{
	
	margin-top: 10px;
	width: 100%;
	padding: 0px;
	list-style-type: none;
}
footer>div li
{
	
	display: inline;
	margin-left: 15px;
	width: 33px;
}
footer>div i
{
	font-size: 20px;
	border-radius: 2px;
	width: 100%;
}
footer>div #facebook
{
	color: white;
	background-color: blue;
	font-weight: 800;
	cursor: pointer;
	padding: 1px;
	transition: color 2s ease, background-color 2s ease, transform 2s ease;
}
footer>div #whatsapp
{
	color: white;
	background-color: green;
	cursor: pointer;
	padding: 1px;
	transition: color 2s ease, background-color 2s ease, transform 2s ease;
}
footer>div #twitter
{
	color: white;
	background-color: black;
	padding: 1px;
	cursor: pointer;
	transition: color 2s ease, background-color 2s ease, transform 2s ease;
}
footer>div #twitter:hover
{
	transform: scale(1);
	background-color: transparent;
	color: black;

}
footer>div #facebook:hover
{
	transform: scale(1);
	background-color: transparent;
	color: blue;

}
footer>div #whatsapp:hover
{
	transform: scale(1);
	background-color: transparent;
	color: green;

}
	
}

